@charset "utf-8";

@import "tailwindcss";
@config "../tailwind.config.ts";

@utility overflow-fade-x {
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10%,
        #000 90%,
        transparent
    );
    mask-image: linear-gradient(
        in oklch to right,
        transparent,
        #000 10%,
        #000 90%,
        transparent
    );
    @apply overflow-hidden;
}

@utility overflow-fade-y {
    mask-image: linear-gradient(
        to bottom,
        transparent,
        #000 10%,
        #000 90%,
        transparent
    );
    mask-image: linear-gradient(
        in oklch to bottom,
        transparent,
        #000 10%,
        #000 90%,
        transparent
    );
    @apply overflow-hidden;
}

@utility gutter-stable {
    scrollbar-gutter: stable both-edges;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 30 15.385% 94.902%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;
        --radius: 0.55rem;
    }

    * {
        word-wrap: break-word;
        touch-action: pan-x pan-y;
        @apply border-border motion-safe:scroll-smooth;
    }

    html,
    body,
    button,
    input {
        direction: ltr;
        @apply antialiased;
    }

    html,
    body {
        @apply h-full w-full overflow-x-hidden;
        overscroll-behavior: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        font-synthesis-weight: none;
    }

    html {
        quotes: "“" "”" "‘" "’";
        text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        font-synthesis-weight: none;
        font-feature-settings:
            "liga" 1,
            "calt" 1;
    }

    body {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        @apply relative min-h-screen max-w-full break-words bg-background text-left text-foreground;
    }

    svg {
        vertical-align: center;
        stroke-linecap: round;
        stroke-linejoin: round;
        text-rendering: optimizeLegibility;
        @apply shrink-0;
    }

    svg path {
        shape-rendering: geometricPrecision;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-balance;
    }

    span,
    p {
        @apply text-pretty;
    }

    /* Override default browser behavior */
    a,
    button,
    select,
    header,
    img,
    video,
    [type="button"],
    [type="image"],
    [type="reset"],
    [type="submit"],
    [type="checkbox"],
    [type="color"],
    [type="radio"],
    [type="range"],
    [draggable] {
        -webkit-touch-callout: none;
        touch-action: manipulation;
        -ms-touch-action: manipulation;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        text-indent: 0;
    }

    button,
    select {
        text-transform: none;
        text-decoration: none;
    }

    button,
    input,
    select,
    textarea {
        -webkit-app-region: no-drag;
    }
}

::selection,
::-moz-selection {
    color: hsl(180 48% 48%);
    background-color: #bdffe8;
}

@view-transition {
    navigation: auto;
}
